/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);

* { padding: 0; margin: 0; }

body {
  padding: 10px;
  background: #d1d1d1;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header {
  border-radius: 50px;
  text-align: justify;
  height: 8em;
  padding: 2em 5%;
  background: #20211d;
  color: #fff;
}

header::after {
  content: '';
  display: inline-block;
  width: 100%;
}

header > div,
header > div::before,
header nav,
header > div h1 {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

header > div {
  height: 100%;
}

header > div::before {
  content: '';
  height: 100%;
}

header > div h1 {
  font-size: 3em;
  font-style: italic;
}

header nav a {
  padding: 0 0.6em;
  white-space: nowrap;
}

header nav a:last-child {
  padding-right: 0;
}

@media screen and (max-width: 720px){

  header {
    height: auto;
  }

  header > div,
  header > div h1,
  header nav {
    height: auto;
    width: auto;
    display: block;
    text-align: center;
  }
}
.login-sec {
  padding: 20px;
  border-radius: 0;
  border-width: 1px;
  float: none;
  margin: 0 auto 70px;
  display: table;
}

.login-sec label {
  font-weight: 500;
  font-size: 14px;
}

.login-sec .field input {
  height: 36px;
  line-height: 36px;
  padding: 5px 10px;
  outline: none;
  border: 1px solid #d2d2d2;
  margin-bottom: 20px;
}

.login-sec input:focus {
  border: 1px solid #000;
}

.login-sec.well {
  padding: 15px;
  border-radius: 0;
  border: 1px solid #9999994f;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease 0s;
  background: transparent;
}

.login-sec .field input {
  width: 100%;
}

.actions input {
  float: left;
  display: block;
}

.login-header h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

input.btn-success {
  background-color: #000 !important;
  border-color: #000 !important;
  margin-right: 10px !important;
}

input.btn-success:hover {
  background-color: #494949;
  border-color: #494949;
}

a.btn-success {
  background-color: #000 !important;
  border-color: #000 !important;
  margin-right: 10px !important;
}

a.btn-success:hover {
  background-color: #494949;
  border-color: #494949;
}

.login-header {
  margin-top: 8%;
}

.sign_out {
  @extend .sign_in;
  line-height: 45px;
  padding: 0 0 0 50px;
  outline: 0;
}

.sign_in {
  padding: 8px;
  margin: 3px 0 0;
  border-left: 2px solid #fff;
  line-height: 29px;
}

.sign_in a {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  outline: 0;
}

.square_btn:hover{
  text-decoration: none !important;
  color: #f79000 !important;
  text-decoration: none !important;
  background: #20211d !important;
  box-shadow: inset 0 2px 0 #3d4147 !important;
  border-radius: 4px !important;
}

.square_btn {
  color: #eff700 !important;
  padding: 0.25em 0.5em !important;
  text-decoration: none !important;
  position: relative !important;
  display: inline-block !important;
  box-shadow: none !important;
}

.welcome-message {
  margin-top: 5%;
}

.go-to a{
  text-decoration: none;
  font-weight: bold;
}

.sidenav {
  margin-top: 5px;
  margin-left: 5px;
  width: 20%;
  background-color: #20211d;
  border-radius: 20px;
  transition: 0.5s;
  position: absolute;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-decoration: none;
}

.sidenav a:hover {
  text-decoration: none;
  border-radius: 50px;
  color: #f1f1f1;
  background-color: #111;
}

.main-events {
  position: relative;
}

.events {
  right: 0;
  width: 80%;
  position: absolute;
}

table.darkTable {
  height: auto;
  position: relative;
  margin: 5px 0 0 5px;
  background-color: #4A4A4A;
  height: 140px;
  text-align: center;
  border: 2px solid #000000;
  border-collapse: collapse;
  margin-left: 7%;
  width: 80%;
}
table.darkTable td, table.darkTable th {
  border: 1px solid #4A4A4A;
  padding: 3px 2px;
}
table.darkTable tbody td {
  font-size: 13px;
  color: #E6E6E6;
}
table.darkTable tr:nth-child(even) {
  background: #888888;
}
table.darkTable thead {
  background: #000000;
  border-bottom: 3px solid #000000;
}
table.darkTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}

table.darkTable thead th:first-child {
  border-left: none;
}

.start-event{
  background-color: #000 !important;
  text-decoration: none !important;
  border: 0;
}

.event td a:hover{
  background-color: #9c9d9e !important;
}

.countdown{
  margin-top: 2%;
  margin-left: 50%;
}

.countdown div {
  color: #fff;
  border-radius: 30%;
  padding: 10px;
  background-color: #000;
  font-size: 20px;
  display: inline-block;
}

.visitors table.darkTable thead th {
  font-size: 20px;
  font-weight: bold;
}

.flag:hover{
  text-decoration: none;
}

.flag img{
  text-decoration: none;
  width: 50px;
}

.event td a{
  text-decoration: none;
  color: #fff;
}

.event td a:hover{
  color: #000;
}

.main-image img{
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 50px;
  margin-top: 1%;
}

.title h1{
  position: absolute;
  z-index:1;
  display: flex;
  bottom: 50%;
  left: 30%;
  font-size: 5em;
  font-style: italic;
  color: #000;
  font-weight: bold;
}

.title p{
  position: absolute;
  z-index:1;
  display: flex;
  bottom: 40%;
  left: 17%;
  font-size: 2em;
  font-style: italic;
  color: #000;
  font-weight: bold;
}

.go-to a{
  text-decoration: none;
  color: #000;
}

h3.empty-events{
  margin-top: 1%;
  display: flex;
  justify-content: center;
}
